.edit-people-container form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.edit-people-container form input[type=text] {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: .5rem;
}

.edit-people-container form input[type=text]:focus {
    border: 1px solid green;
    outline: 1px solid green;
    border-radius: 5px;
    box-shadow: none;
}

.edit-people-container button {
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: .5rem;
    font-weight: 600;
    background-color: green;
    border: 1px solid green;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.edit-people-container button:hover {
    background-color: rgba(0, 128, 0, 0.685);
    border: 1px solid white;
}